<br>
<br>
<form method="post" action="/merchants">
  <label for="new-shop-field">Add a shop</label>
  <input type="text" name="name" id="new-shop-field"/>

  <label for="new-icon-field">Add a icon for a shop</label>
  <input type="text" name="icon" id="new-icon-field"/>

  <input type="submit" value="Add a shop">
</form>