<!DOCTYPE html>
<html>
<head>
  <title>Money CashBoard</title>
  <link rel="icon" href="/images/dollar_icon.png"/>
  <link rel="stylesheet" type="text/css" href="/styles/grids.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/table.css">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
</head>
<br>
  <body>
    <ul>
      <li><a class="active" >Total spent: £  <%= Transaction.total_amount.first[1] %></a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/transactions">All of your transactions</a></li>    
      <li><a href="/transactions/new">New transaction</a></li>
      <li><a href="/tags/new">New tag</a></li>
      <li><a href="/merchants/new">New Shop</a></li>
      <li><a href="/wallets">Set your budget</a></li>
      <li><% if Wallet.new_budget > 0 %>
                <a class="active_left_plus" >
                Total budget: £  <%= Wallet.new_budget%></a></li>
            
            <% else Wallet.new_budget > 0 %>
                <a class="active_left_minus" >
                Total budget: £  <%= Wallet.new_budget%></a></li>
            <% end %>
    </ul>
      <%= yield %>
  </body>
</html>