<!DOCTYPE html>
<html>
<head>
  <title>Money CashBoard</title>
  <link rel="icon" href="/iamges/favicon.ico"/>
</head>
<body>
  <div class="grid">
    
    <div class="grid_row">
      <div class="cell">
        <a href="/">Home</a>
      </div>
      
      <div class="cell">
        <a href="/transactions">All of your transactions</a>
      </div>
    </div>

  </div>

  <%= yield %>
</body>
</html>