<br>
<br>
<form method="post" action="/transactions">
  <label for="new-tag-field">New Tag</label>
  <input type="text" name="type" id="new-tag-field"/>
  <input type="submit" value="Save New Tag">
</form>