ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px solid #e7e7e7;
    background-color: #f3f3f3;
    border-radius: 15px;
    text-shadow: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #666;
    border-radius: 15px;
}

li a:hover {
    background-color: #7B7B7E;
}

.active {
    background-color: #4CAF50;
}

.active_left_plus {
    background-color: #4CAF50;
}

.active_left_zero {
    background-color: #E1DB10;
}

.active_left_minus {
    background-color: #F93A3A;
}

.last_li {
    float: right;
}