body {
  background-size: 1000px;
  background-position: right button;
  background-color: white;
  background-repeat: no-repeat;
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
}

.index_main {
  background: url('/images/mainlogo.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  }

h1 {
  font-variant-position: center;
  text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

div {
  text-align: center;

}



