<form method="post" action="/transactions/<%= @transactions.id %>">
  
  <label for="value_field">Price</label>
  <input type="text" name="value" id="value_field" value="@transactions.value" />
 
</form>